body {
  background-image: url(img/hourglass2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  padding-bottom: 20px;
}

h1, h3 {
  color: #fff;
  margin: 0;
}

.inline {
  padding-top: 25px;
  padding-left: 55px;
}

footer {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.select-age-label {
  color: white;
}

#age {
  font-size: 30px;
  width: 70px;
}
