body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(img/hourglass2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  padding-bottom: 20px;
}

h1 {
  color: #1899D6;
  margin: 0;
}

.inline {
  padding-top: 25px;
  padding-left: 55px;
}

footer {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.select-age-label {
  font-size: 25px;
}

.age-select {
  position: fixed;
  top: 50%;
  left: 100px;
}

.select-age-label {
  color: white;
}

#age {
  font-size: 30px;
  width: 70px;
}

#text-message-container {
  position: fixed;
  top: 50%;
  right: 30px;
  width: 300px;
  background-color: #f0f0f0;
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transform: translateY(-50%) translateX(110%); /* Move it further out of the viewport */
  transition: transform 0.3s ease;
}

/* Show the text message container when active */
#text-message-container.active {
  transform: translateY(-50%) translateX(0);
}


#text-message {
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.btn-about a {
  color: #000000;
}

.btn-about {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.btn-about:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn-about:main,
.btn-about:focus {
  user-select: auto;
}

.btn-about:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btn-about:disabled {
  cursor: auto;
}
